<% if user_signed_in? %>
    <h2>Editing Item</h2>

    <%= render 'form', list: @list %>

    <br/>
    <%= link_to 'Show', @list, class:"btn btn-dark" %> &nbsp;
    <%= link_to 'Back', lists_path, class:"btn btn-secondary" %>
    <br/><br/>
<% end %>